/* ---------------------------------- *\
  #COMPOSITION
\* ---------------------------------- */

/**
 * Gallery
 */

.gallery {
  --gallery-min: 16ch;
}

/* ---------------------------------- *\
  #BLOCKS
\* ---------------------------------- */

/**
 * Metadata
 */

.meta {
  column-gap: var(--rhythm, 1.5em);
  display: grid;
  grid-template-columns: max-content auto;
}

.meta-label {
  font-weight: 700;
  text-align: right;
}

.meta-item {
  grid-column-start: 2;
}
