/* ---------------------------------- *\
  #COMPOSITION
\* ---------------------------------- */

/**
 * Row
 */

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* ---------------------------------- *\
  #UTILITIES
\* ---------------------------------- */

/**
 * Display
*/

.block {
  display: block;
}

/* ---------------------------------- *\
  #BLOCKS
\* ---------------------------------- */

/**
 * Grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16ch, 1fr));
}

/**
 * Metadata
 */

.meta {
  display: grid;
  gap: 1em;
  grid-template-columns: max-content 1fr;
}

.meta dt {
  font-weight: bold;
  text-align: right;
}

.meta ul {
  list-style: none;
  padding-left: 0;
}
