/* ---------------------------------- *\
  #COMPOSITION
\* ---------------------------------- */

/**
 * Grid
 */

.grid {
  --grid-min: 16ch;
}

/* ---------------------------------- *\
  #BLOCKS
\* ---------------------------------- */

/**
 * Metadata
 */

.meta {
  display: grid;
  gap: 1em;
  grid-template-columns: max-content 1fr;
}

.meta dt {
  font-weight: bold;
  text-align: right;
}

.meta ul {
  list-style: none;
  padding-left: 0;
}
