---
layout: default
title: Home
---

<form class="flex gap">
  <div>
    <label for="loop-quality" class="block">Quality</label>
    <select id="loop-quality" name="quality">
      <option value="">Any</option>

      {% for quality in ['Archipelago', 'Drift', 'Piston', 'Two destination', 'Cascade', 'Zero destination'] %}
          <option>{{ quality }}</label>
        </div>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="loop-mode" class="block">Parent mode</label>
    <select id="loop-mode" name="parentMode">
      <option value="">Any</option>

      {% for mode in ['lydian', 'ionian', 'mixolydian', 'dorian', 'aeolian', 'phrygian', 'locrian'] %}
          <option>{{ mode }}</label>
        </div>
      {% endfor %}
    </select>
  </div>

  <input-output class="block">
    <label for="loop-unique-chord-length" class="block">Unique chords</label>
    <input type="range" id="loop-unique-chord-length" name="numChords" min="3" max="4" value="4" data-target="input-output.input">
    <output data-target="input-output.output"></output>
  </input-output>

  <input-output class="block">
    <label for="loop-chromatic-chord-length" class="block">Chromatic chords</label>
    <input type="range" id="loop-chromatic-chord-length" name="numChromaticChords" min="0" max="2" value="0" data-target="input-output.input">
    <output data-target="input-output.output"></output>
  </input-output>
</form>

<p aria-live="polite">
  <span id="results">{{ collections.loop | length }}</span>
  loops
</p>

<ol class="gallery" role="list">
  {% for page in collections.loop %}
    <li data-id="{{ page.data.loop.chroma }}">
      <a href="{{ page.url | url }}">{{ page.data.title }}</a>
    </li>
  {% endfor %}
</ol>

<script
  src="https://stevecherry.net/normcore/js/normcore.js"
  defer
></script>
<script src="{{ '/public/script.js' | url }}" defer></script>
