---
layout: default
tags:
  - loop
permalink: "{{ loop.chroma | prime }}/"
pagination:
  data: loops
  size: 1
  alias: loop
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ loop.chords | join(' ') }}"
---

<dl class="meta">
  <dt class="meta-label">Chords</dt>
  <dd class="meta-item">{{ loop.chords | join(' ') }}</dd>

  <dt class="meta-label">Roman numerals</dt>
  <dd class="meta-item">{{ loop.roman | join(' ') }}</dd>

  <dt class="meta-label">Nashville numbers</dt>
  <dd class="meta-item">{{ loop.nashville | join(' ') }}</dd>

  <dt class="meta-label">Parent mode</dt>
  <dd class="meta-item">{{ loop.parentMode }}</dd>

  <dt class="meta-label">Negative</dt>
  <dd class="meta-item">
    {% set negativeUrl = loop.negative.id | prime %}
    <a href="{{ '/' + negativeUrl | url }}">{{ loop.negative.chords | join(' ') }}</a>
  </dd>

  <dt class="meta-label">Modes</dt>
  {% for mode in loop.modes %}
    <dd class="meta-item">
      {{ mode | join(' ') }}
    </dd>
  {% endfor %}

  <dt class="meta-label">Quality</dt>
  <dd class="meta-item">{{ loop.quality }}</dd>

  <dt class="meta-label">Transitions</dt>
  <dd class="meta-item">{{ loop.transitions | join(', ') }}</dd>

  <dt class="meta-label">Unique chords</dt>
  <dd class="meta-item">{{ loop.numChords }}</dd>

  <dt class="meta-label">Chromatic chords</dd>
  <dd class="meta-item">{{ loop.numChromaticChords }}</dd>
</dl>
