---
layout: default
tags:
  - loop
permalink: "{{ loop.prime.id }}/"
pagination:
  data: loops
  size: 1
  alias: loop
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ loop.chords | join(' ') }}"
---

<dl class="meta">
  <dt class="meta-label">Prime</dt>
  <dd class="meta-item">{{ loop.prime.chords | join(' ') }}</dd>

  <dt class="meta-label">Negative</dt>
  <dd class="meta-item">
    <a href="{{ loop.negative.id | url }}">{{ loop.negative.chords | join(' ') }}</a>
  </dd>

  <dt class="meta-label">Rotations</dt>
  {% for rotation in loop.rotations %}
    <dd class="meta-item">
      {{ rotation | join(' ') }}
    </dd>
  {% endfor %}

  <dt class="meta-label">Type</dt>
  <dd class="meta-item">{{ loop.type }}</dd>

  <dt class="meta-label">Transitions</dt>
  <dd class="meta-item">{{ loop.transitions | join(', ') }}</dd>

  <dt class="meta-label">Unique chords</dt>
  <dd class="meta-item">{{ loop.numChords }}</dd>

  <dt class="meta-label">Chromatic chords</dd>
  <dd class="meta-item">{{ loop.numChromaticChords }}</dd>
</dl>
